@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

.clear_fix::after{
    content: "";
    display: block;
    clear: both;
}


.wrapper{
    width: 100%;
    min-width: 310px;
}


.main_center{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
body.noscroll{overflow: hidden}
.main_mobil_center_container{
    width: 100%;
    padding-right: 16px !important;
    padding-left: 16px !important;
}


.main_mobil_center .footer_category{
    margin-left: 0px;
}

.main_left_block{
    max-width: 860px;
}

header{
    width: 100%;
}

  /*search_panel_start */

.search-panel{
    max-width: 1200px;
    display: none;
    position: absolute;
    top:0;
    left: 0;
    z-index: 9999;
    height:50px;
    right: 0px;
    /*overflow: hidden;*/
    margin: 0 auto;
}

.search-panel>form{
    width: 100%;
    height: 100%;
    display: block;
}

.search-panel input[type="text"] {
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    border: none;
    border-left: 0;
    border-right: 0;
    line-height: 1;
    font-size: 18px;
    padding: 0 90px 0 12px;
}

.search-panel button{
    position: absolute;
    background-size: cover;
    background-image: url('../image/search_open.svg');
    display: block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    top: 13px;
    right: 50px;
    cursor: pointer;
}

      /*end*/

.top_header{
    width: 100%;
    background: #FFFFFF;
    height: 70px;
}

.bottom_header{
    width: 100%;
    background: #83502E;
    height: 50px;
    position: relative;
}

.header_center_container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.mainlogo_and_primaryInfo{
    float: left;
    display: flex;
    align-items: center;
}

.mainlogo{
    width: 104px;
    height: 30px;
    display: inline-block;
    margin: 10px 0px;
}

.mainlogo img{
    display: block;
    width: 100%;
    height: 100%;
}

.primaryInfo {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 5px 0px 0px 11px;
    background: #F1F3F4 0% 0% no-repeat padding-box;
    border: 1px dashed #DADCE0;
    border-radius: 2px 24px 24px 24px;
    padding: 4px 8px;
}



.primaryInfo p{
    font-size: 10px;
    line-height: 9px;
    color: #2F343F;
    font-weight: normal;
}




.mobil_button_and_search {
    float: right;
    margin-top: 13px;
}

.search_mobil{
    margin-right: 10px;
}

.primaryInfo span{
    color: #2F343F;
}

.about_and_social_networks_icons{
   float: right;

}

.about{
    float: left;
    padding: 26px 0px;
    margin-right: 30px;
}

.about ul{
    margin: 0 -10px;
}

.about ul li{
    float: left;
    padding: 0px 10px;
}

.about ul li a{
    color: #2F343F;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.social_networks_icons{
    float: left;
    padding: 15px 0px;
}

.social_networks_icons ul{
    margin: 0px -5px;
}

.social_networks_icons ul li{
    float: left;
    padding: 0px 5px;
}


.social_networks_icons ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #DADCE0;
    border-radius: 50%;
}

.social_networks_icons ul li a img{
    display: block;
    width: 20px;
    height: 20px;
}

.menu{
    float: left;
    padding: 16px 0px;
}

.menu ul{
    margin: 0px -10px;
}

.menu ul li{
    float: left;
    padding: 0px 10px;
}

.menu ul li a{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.catalog{
    display: flex;
    align-items: center;
    height: 100%;
    float: right;

}

.catalog ul{
    margin: 0px -10px;
    float: left;
}

.catalog ul li{
    float: left;
    padding: 0px 10px;
}
.catalog ul li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

}


.catalog ul li a img{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.catalog ul li:first-child a img{
    width: 16px;
    height: 16px;
}

.search{
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 22px;
}

.search button{
    display: block;
    width: 100%;
    height: 100%;
    background: none !important;
    outline: none !important;
    border: none !important;
    background-image: url("../image/search.svg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    cursor: pointer;
}


.close_panel{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    right: 16px;
    background-position: center center;
    background-size: cover;
    background-image: url("../image/close_icon.svg");
}


.first{
    width: 100%;
    background: transparent linear-gradient(180deg, #0E1013 0%, #0E1013 100%);
}

.first_top_container{
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px dashed #80868b33;
}




  /*main_slider strat*/


.main-slider{
    width: 100%;
    position: relative;
}



.main-slider-item{
    width: 100%;
    height: 100%;
}
.main-slider-image{
    position: relative;
}

.main-slider-image img{
    border-radius: 10px;
}

.main-slider-extra{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(0deg, #0E1013 0%, #0E101300 100%) 0% 0% no-repeat;
    position: absolute;
    z-index: 1;
    opacity: 1;
    top: 0;
    left: 0;
}



.main-slider-content{
    width: 100%;
    padding: 16px 0 0 0;
    z-index: 4;
}

.main-slider-category{
    border-radius: 5px;
    background: #BD7E4A;
    padding: 4px 15px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

.main-slider-title{
    width: 100%;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    padding-top: 10px;

}

.ms_image{
    width: 800px;
    height: 450px;
    border-radius: 10px 0px 0px 10px;
}

.slick-arrow{
    display: none !important;
}

.slick-dots button{
    display: none !important;
}

.slick-dots{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:calc(50% - 123px);
    right: 20px;
    width: 16px;
    height: auto;
}

.slick-dots li {
    display: block;
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.5;
    margin: 5px 0;
    cursor: pointer;
}
/*.slick-dots li.grow{*/
/*    width: 12px;*/
/*    height: 12px;*/
/* }*/
.slick-dots li.slick-active {
    opacity: 1;
    width: 16px;
    height: 16px;
}

.first_top_left_box{
    width: 100%;
    padding: 30px 0px 31px 0px;
    border-bottom: 1px dashed #80868b33;
}


.first_top_post{
    display: block;
    width: 100%;
    border-radius: 0px 10px 0px 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

}

.first_top_post img{
    width: 100%;
}

.first_top_left_box .first_top_post:last-child{
    margin-bottom: 0px;
}

.first_top_post_content{
    display: block;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(0deg, #0E1013 0%, #0E101300 100%) 0% 0% no-repeat;
    position: absolute;
    z-index: 1;
    opacity: 1;
    top: 0;
    left: 0;
}


.first_top_inner_box{
    width: 100%;
    position: relative;
    margin-top: 16px;
    top: 0;
    left: 0;
    z-index: 3;
}

.first_top_inner_box>span{
    background: #BD7E4A;
    padding: 4px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 9px;
}

.first_top_inner_box>p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 14px;

}


.f_post_img::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 56%;
}

.f_post_img{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.f_post_img img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    border-radius: 10px;
}

.first_bottom_container{
    display: block;
    padding: 30px 0px 40px 0px;
}

.first_bottom_container_title{
    display: block;
    padding-bottom: 20px;
    padding-right: 16px;

}

.f_t_main{
    display: block;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 29px;
}


.f_t_litel{
    display: block;
    color: #80868B;
    font-size: 12px;
    line-height: 16px;
}


.top_vıdeo_container{
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: 0px -15px;
}


.top_vıdeo_box {
    width: 100%;
    display: block;
    float: left;
}

.top_vıdeo_img{
    display: block;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.top_vıdeo_img::before{
    display: block;
    content: '';
    width: 100%;
    padding-top: 56%;
    position: relative;
}

.top_vıdeo_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 10px;

}

.play_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 27px);
    left:calc(50% - 27px);
}

.play_box::after{
    display: block;
    content: '';
    background-image: url("../image/play_icon.png");
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-position: center center;

}



.top_vıdeo_date{
    width: 100%;
    margin-bottom: 8px;
}
.top_vıdeo_date span:first-child{
    color: #BD7E4A;
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
}

.top_vıdeo_date span:last-child{
    color: #80868B;
    font-size: 12px;
    line-height: 16px;
}

.top_vıdeo_content{
    width: 100%;
}

.top_vıdeo_content p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}


   /*second_start*/

.second{
    width: 100%;
    background: #FFFFFF;
}

.second_main_container{
    width: 100%;
}

.second_left_block{
    max-width: 870px;
    float: left;
}


.second_right_block{
    max-width: 300px;
    float: right;
    padding-top: 40px;
}

.chapters_container{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.video_post_container{
    width: 100%;
}

.main_post_titel{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.main_post_titel h3{
    color: #0E1013;
    font-size: 22px;
    line-height: 29px;
    margin-top: 2px;
    font-weight: normal;
}

.main_post_titel p{
    color: #80868B;
    font-size: 12px;
    line-height: 16px;
}

.video_post_box{
    width: 100%;
    display: block;
}

.second_video_post{
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 37px;
}

.second_video_post:last-child{
    margin-bottom: 0px;
}

.second_video_post::before{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, #0E101300 0%, #0E1013 100%) 0% 0% no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    border-radius: 10px;
    opacity: 100%;
}



.second_video_post_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.video_post_extra{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 37px;
    z-index: 55;
    padding: 0px 20px;
}

.video_post_extra h6 {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.second_video_post_image img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.second_video_post_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 34px;
    background: #BD7E4A;
    border: 2px solid #BD7E4A;
    border-radius: 17px 0px 17px 17px;
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: 11;
}

.second_video_post_content p{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
}

.Electronic_Library_container{
    width: 100%;
}

.Electronic_Library_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    background: #F8F2EC;
    text-align: center;
    margin-bottom: 20px;
}

.Electronic_Library_box:last-child{
    margin-bottom: 0px;
}

.Library_image{
    width: 162px;
    height: 162px;
    margin-bottom: 20px;
}

.Library_image img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;
}


.Library_conten{
    width:100%;
    padding: 0px 36px;
}
.Library_conten h3{
    color: #2F343F;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 6px;
}

.Library_conten p{
    color: #2F343F;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 16px;
}

.detailed_button_box{
    width: 100%;
}

.detailed_button{
    display: inline-block;
    border: 1px solid #BD7E4A4D;
    border-radius: 5px;
    color: #BD7E4A;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 9px 51px;
    margin-bottom: 20px;
}

.breaking_news_container{
    width: 100%;
    position: relative;
    border-bottom: 1px dashed #80868b66;
}

.full_post_section .breaking_news_container{
    padding-top: 60px;
}

.full_post_article img, .full_post_article iframe{
    max-width: 100%;
    display: block;
}

.full_post_article a{
    color: #ff0000;
}

.full_post_article p {
    margin-bottom: 12px;
}

.full_post_section .breaking_news_container{
    border-bottom: none;
    padding-bottom: 46px;
}
.full_post_section .second_right_block{
    padding-top: 30px;
}


.breaking_news_box{
    width: 100%;
}

.breaking_news_post {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}


.breaking_news_image{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 16px;

}



.breaking_news_image img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;
}
.breaking_news_content{
    width: 100%;
}

.catogoy_date{
    width: 100%;
    margin-bottom: 8px;

}

.catogoy_date span:first-child{
    color: #BD7E4A;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.catogoy_date span:last-child{
    color: #80868B;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

}

.breaking_news_content h3{
    color: #2F343F;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.Bloggers_blogs_container{
    width: 100%;
    margin-top: 40px;
    padding-bottom: 60px;
    position: relative;
}

.More_link{
    position: absolute;
    top:50px;
    right: 0;
}

.More_link a{
    color: #BD7E4A;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.Bloggers_blogs_box{
    width: 100%;
}

.Bloggers_blogs{
    display: block;
    width: 158px;
    height: 162px;
    background: #F8F2EC;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.Bloggers_blogs:nth-child(5n){
    margin-right: 0px;
}

.Bloggers_blogs_imag{
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin: 20px auto 10px auto;
    overflow: hidden;
}
.Bloggers_blogs_content{
    width: 100%;
    padding: 0px 16px 20px 16px;

}

.Bloggers_blogs_content h5{
    color: #2F343F;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    word-break: break-word;

}

      /*right_block_start*/

.best_articles{
    padding: 20px 16px 20px 16px;
    position: relative;
}

.best_articles_boxs{
    width: 100%;
    padding-bottom: 40px;
}

.best_articles_boxs:last-child{
    padding-bottom: 0px;
}

.best_articles{
    display: block;
    border: 1px solid #DADCE0;
    border-radius: 10px;
    padding: 20px 16px;
    margin-bottom: 10px;
}

.best_articles:last-child{
    margin-bottom: 0px;
}

.best_articles_conten {
    float: left;
    height: 76px;
    overflow: hidden;
    margin-right: 92px;
}


.best_articles_conten h5{
    margin-bottom: 4px;
    color: #2F343F;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.best_articles_conten p{
    color: #2F343F;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.best_articles_images{
    float: right;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:20px;
    right: 16px;
}

.best_articles_images>img{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.News_feed_container{
    width: 100%;
    position: relative;
}

.News_feed_box{
    width: 100%;
}

.News_feed{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    padding-bottom: 21px;
    border-bottom: 1px solid #DADCE0;
    margin-bottom: 20px;
}

.News_feed_image{
    width: 76px;
    height: 76px;
    margin-right: 14px;
}

.News_feed_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.News_feed_content{
    width: 70%;
}

.News_feed_content p:first-child{
    color: #80868B;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    margin-bottom: 6px;
}

.News_feed_content p:last-child{
    color: #2F343F;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.news_feed_more_button{
    display: block;
    position: relative;
    background: #BD7E4A;
    border-radius: 5px;
    padding: 9px 124px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    bottom: 0;
    left: 0;


}

.footer{
    width: 100%;
    background: #F1F3F4;
    padding: 0px 16px;
}

.footer_top{
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #DADCE0;
}

.footer_logo{
    display: block;
    width: 136px;
    height: 40px;
    float: left;
}

.footer_logo img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;
}

.footer_category{
    display: block;
    float: left;
    border: 1px dashed #DADCE0;
    border-radius: 2px 24px 24px 24px;
    padding: 11px 20px;
    color: #2F343F;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    margin-left: 11px;
}

.footer_social_networking{
    float: none;
}

.footer_social_networking a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #DADCE0;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.footer_social_networking a:last-child{
    margin-right: 0px;
}

.footer_center{
    padding: 20px 0px;
    border-bottom: 1px solid #DADCE0;
}


.footer_center_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.footer_center_box{
    width: 14%;
    float: left;
}

.footer_center_box ul{
    width: 100%;
}

.footer_center_box ul li{
    padding-bottom: 20px;
}


.footer_center_box ul li a{
    color: #2F343F;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.footer_litel_icons{
    width: 20px;
    height: 20px;
    position: relative;
    top:6px;
    right: 4px;

}

.footer_bottom{
    width: 100%;
    padding:20px 0px;
}

.footer_bottom .copyright{
    width: 100%;
    float:none;
}

.footer_bottom .live_internet{
    float: none;
    top: 20px;
}

.copyright{
    float:left;
    width: 53.42%;
    color: #80868B;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;

}

.live_internet{
    float: right;
    position: relative;
    top:4px;
}

     /*full_post_section_start*/
.full_post_section{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    padding: 0 0 40px 0;
}

.full_post_content_container{
    width: 100%;
    padding-top: 20px;
}

.full_post_content_title{
    width: 100%;
    margin-bottom: 24px;
}

.full_post_content_title h3{
    color: #0E1013;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 20px;
}

.post_content_category{
    width: 100%;
    height: auto;

}

.post_content_category span{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    background: #BD7E4A;
    border-radius: 5px;
    padding: 4px 15px;
}

.full_post_content_image{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.full_post_content_image img{
    display: block;
    width: 100%;
}

.content_image_extra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #F8F2EC;
    border-radius: 0px 0px 10px 10px;
}

.extra_date{
    width: 20%;
    height: 16px;
    margin: 12px 0px;
    margin-left: 20px;
}
.extra_date p{
    color: #0E1013;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.font_size{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 10%;
    height: 20px;
}

.btn_decrement{
    display: block;
    float: left;
    border: none!important;
    outline: none!important;
    width: 19px;
    height: 20px;
    background-image: url("../image/minus.svg");
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer;
    margin-right: 10px;
}

.extra_icon{
    display: block;
    float: left;
    width: 18px !important;
    height: 18px!important;
    border: none!important;
    outline: none!important;
    background-image: url("../image/extra_icon.svg");
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer;
}
.btn_incrementt{
    display: block;
    float: left;
    border: none!important;
    outline: none!important;
    width: 19px;
    height: 20px;
    background-image: url("../image/plus.svg");
    background-size: 100% 100%;
    background-position: center center;
    cursor: pointer;
    margin-left: 10px;
}

.full_post_article{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #0E1013;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px
}

.share_news_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;
    position: relative;
    width: 100%;
    border-top: 4px solid #BD7E4A;
    border-radius: 0px 0px 10px 10px;
    background: #F8F2EC;
}

.share_news_title{
    float: left;
    position: absolute;
    left: 20px;

}

.share_news_title>h6{
    color: #0E1013;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
}

.share_news_title>p{
    color: #0E1013;
    font-size: 12px;
    line-height: 28px;
    font-weight: normal;
}

.share_news_social_networking{
    position: absolute;
    right: 0px;
}

.share_news_social_networking>ul li{
    float: left;
}
.share_news_social_networking>ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}

.fb_background{
    background: transparent linear-gradient(180deg, #5679C0 0%, #4064AC 100%) 0% 0% no-repeat padding-box;
}

.fb_msg_background{
    background: transparent linear-gradient(180deg, #00C6FF 0%, #0084FF 100%) 0% 0% no-repeat padding-box;
}

.fb_wp_background{
    background: transparent linear-gradient(180deg, #35D973 0%, #24CC63 100%) 0% 0% no-repeat padding-box;
}

.fb_twit_background{
    background: transparent linear-gradient(180deg, #43D1FB 0%, #1CC4F7 100%) 0% 0% no-repeat padding-box;
}

.fb_tgm_background{
    background: transparent linear-gradient(180deg, #1DA5E9 0%, #0084C6 100%) 0% 0% no-repeat padding-box;
}


.share_news_social_networking ul li:last-child a{
    margin-right: 20px;
}

.share_news_social_networking ul li a img{
    width: 24px;
    height: 24px;
}

.advert_containner{
    width: 100%;
    padding-bottom: 20px;
}

.advert_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
    border: 2px solid #DADCE0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.advert_banner p{
    color: #80868B;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
}




    /*inner_page strat*/

.inner_page{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
}

.inner_page_title{
    width: 100%;
    margin-bottom: 20px;
}

.inner_page_title h3{
    color: #0E1013;
    font-size: 30px;
    line-height: 39px;
    font-weight: bold;

}

.inner_page .breaking_news_post{
    max-width: 386px !important;
    float: left;
    margin-right: 21px;
    margin-bottom: 30px;
}


.inner_page .breaking_news_post:nth-child(3n){
    margin-right: 0px;
}

.inner_page .breaking_news_image {
    width: 386px !important;
    height: 217px !important;
    border-radius: 10px;
    margin-bottom: 16px;
    overflow: hidden;
}

.inner_page .breaking_news_box{
    margin-bottom: -24px;
}

/*Pagination start*/

.Pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a{
    display: block;
    width: 44px;
    height: 44px;
    color:#BD7E4A;
    float: left;
    padding: 12.5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0px 5px 5px 5px;
    background: #F8F2EC;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.pagination a.active {
    background-color: #BD7E4A;
    color: #FFFFFF;
    border: 1px solid #BD7E4A;
}

.pagination_arrow{
    width: 14px;
    height: 14px;
}

/*.pagination a:hover:not(.active) {background-color: #BD7E4A}*/

    /*Pagination end*/

    /*inner_page_end*/

/*section_books start*/

.section_books{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
}

.books_container{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    margin-bottom: 20px;

}


.books_items {
    display:inline-flex;
    flex-direction: column;
    flex:0 0 20%;
    max-width: 224px;
    padding:16px 16px 0px 16px;
    cursor:pointer;
    border: 1px solid #DADCE0;
    border-radius: 10px;
    margin-right: 20px;
    padding-bottom: 51.1px;
    margin-bottom: 20px;
}

.books_items:nth-child(5n){
    margin-right: 0px;
}


.books_items_image {
    position:relative;
}

.books_items_image img {
    width:100%;
    flex:1;
}

.books_extra {
    position:absolute;
    bottom:16px;
    left:10%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-start;
    gap: 10px;
}

.books_extra a.Read_link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#BD7E4A;
    color:#FFFFFF;
    padding:4px 10px;
    border-radius:5px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.books_extra a.Read_link img{
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.books_extra a.Download_link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#FFFFFF;
    color: #0E1013;
    padding:4px 10px;
    border-radius:5px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.books_extra a.Download_link img{
    width: 16px;
    height: 16px;
    margin-right: 2px;


}


.books_items_content{
    width: 100%;
    color: #2F343F;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    padding-top: 10px;

}

/*section_books end*/


/*section Blog start*/

.Blogs_section{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
}

.Blogs_section .breaking_news_box{
    margin-bottom: 10px;
}

.Bloggers_wrapper{
    width: 100%;
    margin-bottom: 20px;
}

.Bloggers_slider_container{
    width: 100%;
    position: relative;
}

.Bloggers_slider_wrapper{
    width: 100%;
}

.Bloggers_slider_box{
    width: 100%;
}

.Bloggers_slider_container .owl-carousel .owl-nav{
    display: block;
}

.Bloggers_slider_container .owl-nav{
    position: absolute;
    top: -56px;
    right: -10px;
}

.Bloggers_slider_container  .owl-nav .owl-prev span{
    display: none!important;
    background-image: url("../image/arrow_pre_b.svg") !important;
}

.Bloggers_slider_container  .owl-nav .owl-prev{
    width: 24px;
    height: 24px;
    background-image: url("../image/arrow_pre_b.svg") !important;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    outline: 0;
    background-color: transparent;
    position: absolute;
    right: 40px;
}

.Bloggers_slider_container.owl-nav .owl-next span{
    display: none !important;
    background-image: url("../image/arrow_next_b.svg") !important;
}

.Bloggers_slider_container .owl-nav .owl-next{
    background-image: url("../image/arrow_next_b.svg") !important;
    width: 24px !important;
    height: 24px!important;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    outline: 0;
    background-color: transparent;
    position: absolute;
    right: 6px;
}

.Bloggers_slider_container .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;

}
.Bloggers_slider_container .owl-next span{
    display: none !important;
}

.Blogs_section .breaking_news_post {
    display: block;
    width: 33% !important;
    max-width: 386px !important;
    float: left;
    margin-right: 20px;
    margin-bottom: 54px;
}

.Blogs_section .breaking_news_post:nth-child(3n){
    margin-right: 0px !important;
}

.Blogs_section .breaking_news_image {
    width: 386px !important;
    height: 217px!important;
    border-radius: 10px;
    margin-bottom: 16px;
}

.breaking_news_content_extra{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
}

.breaking_news_extra_image_box{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 6px;
    overflow: hidden;
}

.breaking_news_extra_image_box img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;
}

.breaking_news_extra_content_box{
   display: inline-block;
    height: 36px;
}

.b_b_title{
    width: 100%;
}

.b_b_title h6{
    color: #2F343F;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}


.article-gallery ul#imageGallery li:before, ul.lSPager li:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 55%;
    background-color: #ccc;
}

.article-gallery ul.lSPager li:before {
    padding-top: 54%;
}

.article-gallery .lSAction>.lSPrev:before {
    background-image: url("../image/arrow_gallery_pre.svg");
}

.article-gallery .lSAction>.lSNext:before {
    background-image: url("../image/arrow_gallery_next.svg");
    right: 10px;
}

.article-gallery .lg-fullscreen:after {
    content: "\e20c";
}


    /*section Blog end*/

/*mobil-start*/


.mobil-containner{
    width: 100%;
    padding: 0px 16px;
    position: relative;
    border-bottom: 4px solid #83502E;
}

.first-mobil-section{
    width: 100%;
    background: #0E1013;
    padding:16px 16px  0px 16px;
}

.main-mobil{
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.mobil_button_and_search{
    float: right;
}


.small-slider{
    width: 100%;
}

.small-slider{
    width: 100%;
    background: #0E1013;
}

.small-slider-container{
    width: 100%;
    padding: 30px 16px 30px 16px;
    overflow: hidden;
}
.small-slider-container .owl-theme .owl-nav{
    display: none!important;
}

.small-slider-container .owl-theme .owl-dots{
    display: none!important;
}

.small-ow-container{
    width: 150%;
}

.chapters_container{
    width: 100%;
}

.Electronic_Library_section{
    width: 100%;
}



.best_articles_section{
    width:100%;
    padding: 30px 0px 30px 0px;
}

.best_articles_wrap{
    width: 100%;
}

.breaking_news_section{
    width: 100%;
    padding-bottom: 30px;
}



.blogs-slider_section {
    width: 100%;
    padding: 0px 16px 30px 16px;
    position: relative;
}

.blogs-slider_wrap{
    width: 150%;

}

.blogs-slider .Bloggers_blogs{
    display: block;
    width: 100%;
    height: auto;
    /*max-width: 158px;*/
    min-height: 162px !important;
    background: #F8F2EC;
    border-radius: 10px;
    float: left;
    margin: 0 auto;
}

.blogs-slider_section .owl-theme .owl-nav{
    display: none !important;
    /*display: inline-block;*/
    position: absolute;
    top: -66px;
    right: 33%;
}

.blogs-slider_section .owl-theme .owl-dots{
    display: none;
}

.blogs-slider_section .owl-prev{
    display: inline-block !important;
    width: 24px !important;
    height: 24px!important;
    background-image: url("../image/arrow-pre-mobil.svg") !important;
    position: absolute;
    outline: none;
    right: 40px;
}

.blogs-slider_section .owl-prev span{
    display: none;

}

.blogs-slider_section .owl-next{
    display: inline-block !important;
    width: 24px !important;
    height: 24px!important;
    background-image: url("../image/arrow-next-mobil.svg") !important;
    position: absolute;
    outline: none;
    right: 0px;
}

.blogs-slider_section .owl-next span{
    display: none;

}
.my-owl-nav{
    display: block;
    float: right;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 5px;
    z-index: 99;
}
.my-next-button{
    display: inline-block !important;
    width: 24px !important;
    height: 24px!important;
    background-image: url("../image/arrow-next-mobil.svg") !important;
    /*position: absolute;*/
    outline: none;
    right: 40px;
}
.my-prev-button{
    display: inline-block !important;
    width: 24px !important;
    height: 24px!important;
    background-image: url("../image/arrow-pre-mobil.svg") !important;
    /*position: absolute;*/
    outline: none;
    right: 0px;
}

.news_feed_more_button_box{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

/*mobil menu start */
.mobil-menu{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #83502E;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(-100%);
}

.mobile_header{
    width: 100%;
     padding: 0px 16px;
    overflow: hidden;
}

.mob_body {
    width: 100%;
    height: 100%;
    padding: 12px 16px 20px 16px;
    max-height: calc(100% - 65px);
    overflow: auto;
}
.inner-mobil_footer{
    background: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-left: 20px;
}

.inner-mobil_footer>ul{
    width: 100%;
}

.inner-mobil_footer>ul li{
    float: left;
}

.inner-mobil_footer>ul li a{
    margin-top: 10px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #DADCE0;
    margin-right: 10px;
    padding: 10px;
}

.inner-mobil_footer>ul li a img{
    display: block;
    width: 100%;
    height: 100%;
}


.mobil-menu.open{
    transform: translateX(0%);
}

.close-btn {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    right: 16px;


}

.inner-mobil-container{
    width: 100%;
    height: 100%;
}

.inner-mobil-nav{
    padding-top:80px ;
    padding-left: 20px;
}

.inner-mobil-ul{
    display: flex;
    flex-direction: column;
}
.inner-mobil-ul li{
    padding-bottom: 30px !important;
    list-style: none;
}

.inner-mobil-second-box{
    display: flex;
    flex-direction: column;
    padding-top: 83px;
    padding-left: 50px;
}

.catalog-mobil{
    display: flex;
    flex-direction: column;
}

.catalog-mobil li{
    padding-bottom: 30px!important;
    list-style: none;
}

.inner-mobil-center{
    width: 100%;
    float: none;
}

.inner-mobil-center ul li{
    padding-bottom: 30px !important;
}

.inner-mobil-center ul li a{
    color: #ffffff;
}

.br-n{
    border: none;
}


.mobil-second_left_block-section{
    width: 100%;
    padding: 0px 16px;
}

.mobil-second_left_block-section .second_left_block{
    max-width: 100%;
    float: none;
}

.mobil-second_left_block-section .full_post_content_title h3{
    color: #0E1013;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

.mobil-second_left_block-section .extra_date{
    width: auto !important;
}

.mobil-second_left_block-section .font_size{
    width: auto !important;
    margin-right: 16px;
}


.mobil-second_left_block-section .share_news_container{
    height: auto;
   display: block;
    padding: 24px 0px 36px 30px;
    margin-bottom: 40px;
}

.mobil-second_left_block-section .share_news_title{
    float: none;
    position: static;
    margin-bottom: 20px;
}
.mobil-second_left_block-section .share_news_social_networking{
    position: static;
}

.mobil-inner_page-section{
    width: 100%;
    padding: 0px 16px 30px 16px;
}
 .mobil-inner_page-section .inner_page_title h3{
     font-size: 22px;
     line-height: 29px;
 }
 .Mobil-Electronic_Library{
     width: 100%;
     padding:24px 16px 30px 16px;
 }

.Mobil-Electronic_Library .books_container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    margin-right: 0px;
}


.Mobil-Electronic_Library .inner_page_title h3{
    font-size: 22px;
    line-height: 29px;
}
.Mobil-Electronic_Library .books_items{
    flex: 0 0 100%;
    padding: 16px;
    margin-right: 0px;
}

.mobil-audio-section_books{
    width: 100%;
    padding: 20px 16px 30px 16px;
}


.mobil-audio-section_books .books_container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    margin-right: 0px;
}

.mobil-audio-section_books .inner_page_title h3{
    font-size: 22px;
    line-height: 29px;
}
.mobil-audio-section_books .books_items{
    flex: 0 0 100%;
    padding: 16px;
    margin-right: 0px;
}

.mobil-blogs-container{
    padding: 0px 16px;
}

.mobil-blogs-container .blogs-slider_section{
    padding: 0px;
}

.mobil-blogs-wraper-section{
    padding: 30px 0px 30px 0px;
}


    /*mobil menu end */



/*mobil-End*/
.blogs-slider_wrap .owl-carousel .owl-stage-outer{
    width: 1000px !important;
}

.blogs-slider_wrap{
    width: 1000px !important;
}

.p-t{
    padding-top: 30px!important;
}



/* Slick slider */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block; width:100%;}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;}
.slick-arrow.slick-hidden{display:none}